* {
    margin: 0 auto;
    padding: 0px;
}

body, html {
    height: 100%;
    width: 100%;
}

.bg_image1 {
    background-image: url("./img/sergey-zolkin-192937-blurredV2.jpg");
    height: 89%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1000px;
    height: 100%;
    margin: auto auto;
}

#header {
    width: auto;
    height: 50px;
    display: inline-block;
    /* background-color: chocolate; */
    margin: 22px 0 0 26px;
}

#title_container {
    display: inline-block;
    height: auto;
    width: auto;
    /* background-color: darkcyan; */
    vertical-align: top;
    margin: 2px 5px 0 0;
}

.enso {
    display: inline-block;
    height: 50px;
    width: auto; 
    /* margin: 2.3% 0% 0% 2.1%; */
    /* margin: 33px 0 0px 30px; */
    /* position: absolute; */
}

.name {
    display: inline-block;
    color: white;
    /* position: relative; */
    /* margin: 3.5% 0% 0% 9%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 2px 0px 0 0;
}

.subtitle {
    display: inline-block;
    color: white;
    /* margin-left: 10.7%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;
    margin-left: 16px;
}

.nav_home {
    height: 90px;
    width: 110px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left: 360px;
    /* margin-top: -50px; */
    border-bottom: 4px solid #f61f70;
    cursor:pointer;
	cursor:hand;
}

.nav_projects {
    height: 90px;
    width: 110px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left: 470px;
    /* margin-top: -50px; */
    cursor:pointer;
	cursor:hand;
}

.nav_contact {
    height: 90px;
    width: 110px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left: 580px;
    /* margin-top: -50px; */
    cursor:pointer;
	cursor:hand;
}

.nav_btn {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 80px;
}

.title {
    color: white;
    margin: 14% 0px 0px -240px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 2px;
    display: inline-block;
    position: absolute;
}

.summary {
    color: white;
    /* margin: 22% 0px 0px -238px; */
    margin: 40px 0 0 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 1px;
    /* display: inline-block; */
    /* position: absolute; */
}

#contact_here {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
    padding-bottom: 3px;
    cursor:pointer;
	cursor:hand;
}

.projects {
    height: 1910px;
    background-color: white;
}

.email_btn {
    height: 50px;
    width: 150px;
    background-color: #f61f70;
    margin: 1% 0px 0px 89%;
    border-radius: 25px;
    position: fixed;
    z-index: 999;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

.hover_shadow {
    box-shadow: 1px 1px 10px 1px black;
}

.email_btn_icon {
    height: 65%;
    margin: 8px 0px 0px 12px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.email_btn_txt {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 16px 0px 0px 6px;
    display: inline-block;
    vertical-align: top;
}

.content_wrapper {
    width: 100%;
    height: 104%;
    margin: auto auto;
}

.dynamic_nav {
    height: 60px;
    width: 100%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid rgb(233, 232, 232);
}

.nav_container {
    height: 60px;
    width: 1000px;
    text-align: center;
}

.dynamic_nav_title {
    height: 60px;
    width: auto;
    /* background-color: chocolate; */
    float: left;
    vertical-align: top;
    margin-left: 28px;
}

#dynamic_nav_titles_container {
    display: inline-block;
    width: auto;
    height: auto;
}

.dynamic_nav_title > img {
    height: 80%;
    width: auto;
    margin-top: 2%;
    float: left;
}

#dynamic_nav_titles_container > h1 {
    color: rgb(41, 41, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 10px 45px 0px 0px;
}

#dynamic_nav_titles_container > p {
    color: rgb(41, 41, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 2px;
    margin-right: 5px;
}

.dynamic_nav_btns {
    height: 60px;
    width: 330px;
    /* background-color: chocolate; */
    margin-right: 4%;
    float: right;
    font-size: 0;
}

.dynamic_nav_link_container {
    height: 60px;
    width: 110px;
    display: inline-block;
    text-align: center;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    cursor:pointer;
	cursor:hand;
}
.dynamic_nav_link_container > p {
    color: rgb(41, 41, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px; 
}

.active {
    border-bottom: 4px solid #f61f70;
}

.project_container {
    height: 27.4%;
    width: 1000px;
    /* background-color: darkgoldenrod; */
}

.project_display {
    height: 60%;
    width: auto;
    margin: 14% 0% 0% 3%;
    display: inline-block;
}

.project_info {
    height: 50%;
    width: 32%;
    /* background-color: cadetblue; */
    display: inline-block;
    vertical-align: top;
    margin-top: 15%;
}

.project_link {
    text-decoration: none;
}

.project_link > h1 {
    color: rgb(41, 41, 41);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 2px;
    display: inline-block;
}

.project_info > p {
    color: rgb(134, 134, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 10% 0 10% 0;
}

.repo_link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #f61f70;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.shadow {
    -moz-transition: box-shadow 400ms;
    -o-transition: box-shadow 400ms;
    -webkit-transition: box-shadow 400ms;
    transition: box-shadow 400ms;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.295);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.295);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.295);
}

.border_shadow {
    width: 100%;
    height: auto;
    margin-top: 7.5%;
}

.technologies {
    height: 12%;
    width: 100%;
    /* background-color: seagreen; */
    border-top: 1px solid rgb(233, 232, 232);
    text-align: center;
}

.technologies > h1 {
    color: rgb(189, 188, 188);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    margin: 20px 0 20px 0;
}

#icon_wrapper {
    width: 1400px;
    height: 100%;
    /* background-color: darkorange; */
    text-align: center;
}

.tech_icon {
    height: 50px;
    width: auto;
    padding: 5px;
    -webkit-transition: all 0.2s ease;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter>    </svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    position: relative;
    z-index: 1;
}

.tech_icon:hover {
    filter:none;
    -webkit-filter: none;
}

#client, #mean, #java, #python, #libraries {
    width: 100px;
    /* background-color: burlywood; */
    text-align: center;
    margin-left: 5%;
    display: inline-block;
}

#mean {
    width: 200px;
}

#python {
    width: 220px;
}

#libraries {
    width: 300px;
    vertical-align: top;
    text-align: left;
}

#libraries > .tech_icon {
    height: 40px;
    margin-bottom: 20px;
}

.bg_image2 {
    background-image: url("./img/zany-jadraque-571205-unsplash.jpg");
    height: 94%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#foot_wrapper {
    width: 100%;
    height: 94%;
    margin: 0;
    /* background-color: cornflowerblue; */
    position: absolute;
    text-align: center;
}

#social, #contact_wrapper {
    width: 10%;
    height: 55%;
    /* background-color: coral; */
    display: inline-block;
    margin-top: 8%;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

#social > #headshot {
    height: 30%;
    width: auto;
    border-radius: 50%;
    border: 3px solid white;
    display: table;
    margin-bottom: 20px;
}

#social > a > .social_link {
    height: 25px;
    width: auto;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

#contact_wrapper {
    width: 40%;
}

#contact_wrapper > .contact_info, #contact_content {
    width: 25%;
    height: 12%;
    margin: 10% 2% 4% 2%;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 15px;
    border: none;
}

#contact_content {
    width: 90%;
    margin-top: 0;
    height: 35%;
    padding-top: 10px;
    resize: none;
}

#contact_wrapper > .contact_info:focus, #contact_content:focus {
    outline: none;
    border: 1px solid rgb(113, 228, 243) !important;
    box-shadow: 0 0 6px rgb(113, 228, 243) !important;
    -moz-box-shadow: 0 0 6px rgb(113, 228, 243) !important;
    -webkit-box-shadow: 0 0 6px rgb(113, 228, 243) !important;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

#footer > p, #footer > a {
    color: rgb(134, 134, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 100px;
    display: inline-block;
    margin: 0 10px 0 10px;
}

#footer > a {
    -webkit-transition: all 0.2s ease; 
}

#footer > a:hover {
    color: #f61f70;
}
